*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tilt Warp', cursive;
}
/* home start */
#cofe-home{
    background-image: url(../css/images/cup-coffee-with-pile-coffee-beans_1112-438.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100vh;
    width: 100%;
}
#cofe-home::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
/* home end */
/* navbar start */
.navbar-home{
    border-bottom: 2px solid rgba(82, 80, 80, 0.274);
    position: relative;
    z-index: 999;
}
.logo i{
    color: #be7e7e;
    font-size: 3rem;
    font-weight: 600;
}
.navbar-nav ul{
    display: flex;
    align-items: center;
    
}
.navbar-nav ul li a{
   padding: 0 30px;
   color: #fff;
}
.navbar-nav ul li a:hover{
    transition: all 0.3s ease;
    color: #6a6363;
}
.navbar-nav ul li:last-child a{
    font-size: 1.5rem;
}
/* navbar end */
/*  content start */
.content{
    position: absolute;
    bottom: -10%;
    left: 28%;
    transform: translate(-50%,-50%);
    color: #fff;
}
/* hamburger menu start */
.hamburger-btn{
    background-color: transparent;
    transition: 300ms all;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.line:hover{
    color: blue;
}
.line{
    width: 40px;
    height: 3px;
    display: block;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 10px;
    transition: 300ms all;
}
.hamburger-btn:hover .line:nth-child(1){
    transform: translateY(14px) rotate(45deg);
    background-color:  rgb(223, 211, 211);
}
.hamburger-btn:hover .line:nth-child(3){
    transform: translateY(-14px) rotate(-45deg);
    background-color: rgb(223, 211, 211);
}
.hamburger-btn:hover .line:nth-child(2){
    opacity: 0;
}
/* content hamburger end */
/* login form start */

.wrapper-login{
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 400px;
    padding: 20px;
}
.wrapper-login h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #b5a9a9;
}
.wrapper-login .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}
.wrapper-login .input-box input{
    width: 100%;
    height: 100%;
    padding: 0 30px;
    font-size: 1.2rem;
    border: none;
    border: 2px solid #be7e7e;
    border-radius: 35px;
    outline: none;
    background: transparent;
    color: #fff;
    padding: 0 5px 0 45px;
}
.wrapper-login .input-box input:focus{
    border: 3px solid #d1cece;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -14px;
    left: 17px;
    transition: all 0.5s ease;
    font-size: 0.8em;
    color: #be7e7e;
}
.input-box .icon{
    position: absolute;
    top: 17px;
    left: 20px;
    pointer-events: none;
}
.wrapper-login .remember-forgot{
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.remember-forgot a{
   color: #fff;
}
.remember-forgot a:hover{
    transition: all 0.3s ease;
    text-decoration: underline;
    color: #be7e7e;
}
.remember-forgot label input{
accent-color: #231e1e;
margin-left: 20px;
}
.btnnnn a{
    width: 100%;
    height: 50px;
    text-align: center;
}
.btnnnn a:hover{
    transition: all 0.3s ease;
    background:linear-gradient(90deg, #101010 0%, #76737359 100%);
}
.register{
    color: #fff;
    font-size: 1em;
    text-align: center;
    margin-right: 60px;
}
.register a:hover{
    transition: all 0.5s ease;
    text-decoration: underline;
    color: #4b4848;
}

/* login form end */